* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  height: 100vh;
  width: 100vw;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

.contentSection {
  flex-grow: 1;
  padding: 36px;
  margin-top: 36px;
  background-color: rgba(57, 82, 205, .04);
}

.page {
  width: 100%;
  height: 100%;
}

.cardWrapperParent {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.cardWrapper {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #C9C6C6;
  flex-basis: 50%;
  flex-grow: 1;
  min-height: 365px;
  display: flex;
  flex-direction: column;
}

.card {
  height: 100%;
}

.tableContainerBox {
  height: 85%;
  padding: 16px;
}

  /* App loader styles */
.mainLoadingContainer {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.mainLoader {
  border: .15em solid currentcolor;
  border-radius: 50%;
  animation: mainLoader 1.5s ease-out infinite;
  display: inline-block;
  width: 1em;
  height: 1em;
  color: #3952CD;
  vertical-align: middle;
  pointer-events: none;
}

@keyframes mainLoader {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

