name: ci-check-generated-code
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: "check-generated-code ${{ github.ref }}"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # install deps.
      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsystemd-dev

      - name: Install system dependencies
        uses: input-output-hk/actions/base@latest
          
      - name: Install nix
        uses: cachix/install-nix-action@v27


      - uses: haskell-actions/setup@v2
        id: cabal-setup
        with:
          ghc-version: '9.6.6'
          cabal-version: '3.10.3.0'

      - uses: actions/checkout@v4

      - name: Cache .cabal
        uses: actions/cache@v3
        with:
          path: ${{ steps.cabal-setup.outputs.cabal-store }}
          key: cabal-${{ hashFiles('cabal.project') }}

      - name: build & test
        run: |
          cabal update
          cabal build -j all
      - name: check compiled scripts are consistent
        # git diff --quiet implies --exit-code
        run: |
          cabal run export-smart-tokens ./generated/scripts/unapplied
          cabal run export-smart-tokens ./generated/scripts/preview 08a8d0bb8717839931b0a594f7c28b0a3b7c78f6e9172e977e250eab7637d879.0 08a8d0bb8717839931b0a594f7c28b0a3b7c78f6e9172e977e250eab7637d879.0 '"addr_test1qq986m3uel86pl674mkzneqtycyg7csrdgdxj6uf7v7kd857kquweuh5kmrj28zs8czrwkl692jm67vna2rf7xtafhpqk3hecm"'
          cabal run export-smart-tokens ./generated/scripts/mainnet b1977c1eb33590ca1311384ab68cd36209832213ad4483feb8a1b7cb64828946.0 b1977c1eb33590ca1311384ab68cd36209832213ad4483feb8a1b7cb64828946.0 '"addr_test1qq986m3uel86pl674mkzneqtycyg7csrdgdxj6uf7v7kd857kquweuh5kmrj28zs8czrwkl692jm67vna2rf7xtafhpqk3hecm"'
          cabal run write-openapi-schema -- generated/openapi/schema.json
          nix develop --command bash -c "aiken build src/aiken-example/aiken --out ./src/aiken-example/haskell/data/aiken-scripts.json"
          git diff --quiet
